@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!-- Start Main Banner Area -->
<div class="home-slides owl-carousel owl-theme">
    <div class="main-banner banner-bg1">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="main-banner-content text-center">
                        <span class="sub-title">探索科技新宇宙</span>
                        <h1>電商星球——科技產品的首選</h1>
                        <p>匯聚藍牙耳機、筆記型電腦、智慧型手機等優質3C商品，打造更智能的生活。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-banner banner-bg2">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="main-banner-content">
                        <span class="sub-title">科技生活，隨手可得</span>
                        <h1>多元選擇，滿足所有需求</h1>
                        <p>從高效能產品到日常3C配件，探索您需要的一切。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-banner banner-bg3">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="main-banner-content">
                        <span class="sub-title">走在時代前沿</span>
                        <h1>體驗最潮科技產品</h1>
                        <p>引領潮流的智慧選擇，提升生活的科技感。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Banner Area -->