@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!-- Start Main Banner Area -->
<div class="home-slides owl-carousel owl-theme">
    <div class="main-banner banner-bg1">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="main-banner-content text-center">
                        <span class="sub-title">Limited Time Offer!</span>
                        <h1>Winter-Spring!</h1>
                        <p>Take 20% Off ‘Sale Must-Haves'</p>
                        <div class="btn-box">
                            <a href="products-left-sidebar.html" class="default-btn">Shop Women's</a>
                            <a href="products-right-sidebar-2.html" class="optional-btn">Shop Men's</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-banner banner-bg2">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="main-banner-content">
                        <span class="sub-title">Exclusive Offer!</span>
                        <h1>Spring-Show!</h1>
                        <p>Leap year offer ‘Sale Must-Haves'</p>
                        <div class="btn-box">
                            <a href="products-left-sidebar.html" class="default-btn">Shop Women's</a>
                            <a href="products-right-sidebar-2.html" class="optional-btn">Shop Men's</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-banner banner-bg3">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="main-banner-content">
                        <span class="sub-title">Buy Now From Xton!</span>
                        <h1>New Season Canvas</h1>
                        <p>Take 20% Off ‘Sale Must-Haves'</p>
                        <div class="btn-box">
                            <a href="products-left-sidebar.html" class="default-btn">Shop Women's</a>
                            <a href="products-right-sidebar-2.html" class="optional-btn">Shop Men's</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Banner Area -->