@model IEnumerable<ShopMaster.Areas.BackEnd.Models.Cart>

<div class="products-cart-content">
    @foreach (var item in Model)
    {
        <div class="products-cart">
            <div class="products-image">
                <a href="#"><img src="@item.Product.MainImage" alt="image"></a>
            </div>

            <div class="products-content">
                <h3><a href="#">@item.Product.Name</a></h3>
                <span>item.Color</span>
                <div class="products-price">
                    <span>@item.Quantity</span>
                    <span>x</span>
                    <span class="price">$@item.Product.Price</span>
                </div>
                <a href="#" class="remove-btn"><i class='bx bx-trash'></i></a>
            </div>
        </div>
    }
</div>

<div class="products-cart-subtotal">
    <span>總計</span>
    <span class="subtotal">$@Model.Sum(item => item.Product.Price * item.Quantity)</span>
</div>

<div class="products-cart-btn">
    <a href="#" class="default-btn">結帳</a>
</div>


