<!-- Start Footer Area -->
<footer class="footer-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>關於商店</h3>

                    <div class="about-the-store">
                        <p>這裡能夠買到一切電子產品。</p>
                        <ul class="footer-contact-info">
                            <li><i class='bx bx-map'></i> <a href="#" target="_blank">新北市板橋區</a></li>
                            <li><i class='bx bx-phone-call'></i> <a href="tel:+886968977794">+886 968 977 113</a></li>
                            <li><i class='bx bx-envelope'></i> <a href="mailto:yuting09120310@gmail.com">yuting09120310@gmail.com</a></li>
                        </ul>
                    </div>

                    <ul class="social-link">
                        <li><a href="https://www.facebook.com/" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="https://www.instagram.com/yingkeli_31/" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="https://www.linkedin.com/login" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-4">
                    <h3>快速連結</h3>

                    <ul class="quick-links">
                        <li><a href="about.html">關於我們</a></li>
                        <li><a href="products-left-sidebar.html">立即購物！</a></li>
                        <li><a href="faqs.html">常見問題</a></li>
                        <li><a href="contact.html">聯絡我們</a></li>
                        <li><a href="/BackEnd/Login">後台登入</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>顧客服務</h3>

                    <ul class="customer-support">
                        <li><a href="/Member/Index">我的帳戶</a></li>
                        <li><a href="faqs.html">常見問題</a></li>
                        <li><a href="track-order.html">訂單追蹤</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>訂閱電子報</h3>

                    <div class="footer-newsletter-box">
                        <p>獲取我們的最新消息和更新。</p>

                        <form class="newsletter-form" data-bs-toggle="validator">
                            <label>您的電子郵件地址：</label>
                            <input type="email" class="input-newsletter" placeholder="輸入您的電子郵件" name="EMAIL" required autocomplete="off">
                            <button type="submit">訂閱</button>
                            <div id="validator-newsletter" class="form-result"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom-area">
            
        </div>
    </div>

    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</footer>
<!-- End Footer Area -->
