﻿@using ShopMaster.Areas.BackEnd.Models
@using ShopMaster.Areas.FrontEnd.Utility
@inject shopmasterdbContext _dbContext
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@functions {

    // 取購物車 partialView 資料
    public ProductsAll GetCartModel()
    {
        var tempCart = HttpContextAccessor.HttpContext.Session.Get<List<ShopMaster.Areas.FrontEnd.ViewModelsF.Cart>>("tempCart") ?? new List<ShopMaster.Areas.FrontEnd.ViewModelsF.Cart>();
        var cartList = tempCart.DistinctBy(p => p.ProductId).ToList();
        return new ProductsAll
            {
                ProductCart = cartList
            };
    }
}

@{
    var cartModel = GetCartModel();
}


<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - ShopMaster</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <style>
        @@media (min-width: 768px) {
            .offcanvas-end {
                display: block; /* Make sure offcanvas is visible on larger screens */
            }
        }

        #continue {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            margin-top: 20px;
        }

        #cart {
            width: 106px;
            height: 106px;
            border-radius: 50%;
        }


        #cartCount {
            width: 30px;
            border-radius: 35%;
        }

        .badge {
            line-height: 1.5;
        }

    </style>

</head>
<body>

    <!-- 導航列 -->
    <div class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand fw-bold fs-3 ps-2" href="/Home/Index">ShopMaster</a>

                @RenderSection("cont", required: false)


                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </div>
            <div class="d-flex container">
                <div class="col-9">
                    <form class="d-flex mt-3 " role="search">
                        <input class="form-control   me-0" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn" style="border:none" type="submit"><i class="bi bi-search fs-5 me-4"></i></button>
                    </form>
                </div>
                <div class="col-3">
                    <ul class="list-group list-group-horizontal mt-3 d-flex justify-content-end align-items-end position-relative ">
                        <li class="list-group-item bg-light pe-2 " style="border:none">
                            <a class="nav-link pl-4 " href="/Member/Index"><i class="bi bi-person-circle fs-5"></i></a>
                        </li>
                        <li class="list-group-item bg-light  " style="border:none">
                            <a class="nav-link ">
                                <i class="bi bi-bucket fs-5 text-end  " data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" style="cursor: pointer;" id="openCartBtn"></i>
                                <span class="position-absolute  badge translate-middle rounded-pill  " id="cartCount" style="color:	white; background-color:	#FFED97;">
                                    <span class="visually-hidden">unread messages</span>
                                </span>



                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="offcanvas offcanvas-end" data-bs-backdrop="true" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header " style="border-bottom: 1px solid lightgray">
                <h4 class="offcanvas-title fw-bold " id="offcanvasRightLabel">您的購物車</h4>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class=" d-flex justify-content-center"> <h5 class="offcanvas-title" id="offcanvasRightLabel"></h5></div>

            <div class="offcanvas-body " style="" id="cartContent">
                @* 購物車 *@
                @await Html.PartialAsync("_CartPartial", cartModel)


            </div>
        </div>



        <nav class="navbar navbar-expand-lg bg-light ">
            <div class="container">
                <div class="collapse navbar-collapse offset-md-1 mb-1 " id="navbarNav">
                    <ul class="navbar-nav fw-bold" style=" font-size: 16px;">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/Home/Index">首頁</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                商品
                            </a>
                            <ul class="dropdown-menu " style=" font-size: 15px;">

                                @foreach (var item in _dbContext.ProductTypes)
                                {
                                    <li><a class="dropdown-item" href="/Home/Index/@item.Id">@item.Name</a></li>
                                }

                            </ul>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/About/Index">關於我們</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Contact/Index">聯絡我們</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!-- 主要內容 -->


    <main>
        @RenderBody()

    </main>

    <!-- 頁腳 -->
    <footer class="text-dark text-center py-3 mt-5 border-top border-dark">

        <p>
            © 2025 ShopMaster. All Rights Reserved. |
            <a href="/BackEnd/" class="text-dark text-decoration-none">後台管理</a>
        </p>
    </footer>




    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>

        // 啟用tooltip
        var tooltipTriggerList = Array.from(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        tooltipTriggerList.forEach(function (tooltipTriggerEl) { new bootstrap.Tooltip(tooltipTriggerEl);
        });

        // 啟用Popovers
        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))


           $(document).ready(function() {
               var cartItemCount = sessionStorage.getItem('cartItemCount');

               // 如果有購物車數量，更新頁面中的 #cartCount
               if (cartItemCount)
               {
                   $('#cartCount').html(cartItemCount);
               }
               else
               {
                   $('#cartCount').html('0');
               }

               $('#openCartBtn').click(function() {
                   $.get('/Cart/GetCart', function(result) {
                   $('#cartContent').html(result); // 顯示購物車內容
               });
           });
         });
    </script>
</body>
</html>
