<!DOCTYPE html>
<html lang="zxx">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Links of CSS files -->
    <link rel="stylesheet" href="~/frontEnd/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/frontEnd/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/frontEnd/assets/css/boxicons.min.css">
    <link rel="stylesheet" href="~/frontEnd/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/frontEnd/assets/css/magnific-popup.min.css">
    <link rel="stylesheet" href="~/frontEnd/assets/css/nice-select.min.css">
    <link rel="stylesheet" href="~/frontEnd/assets/css/slick.min.css">
    <link rel="stylesheet" href="~/frontEnd/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/frontEnd/assets/css/meanmenu.min.css">
    <link rel="stylesheet" href="~/frontEnd/assets/css/rangeSlider.min.css">
    <link rel="stylesheet" href="~/frontEnd/assets/css/style.css">
    <link rel="stylesheet" href="~/frontEnd/assets/css/dark.css">
    <link rel="stylesheet" href="~/frontEnd/assets/css/responsive.css">

    <title>電商星球</title>

    <link rel="icon" type="image/png" href="~/frontEnd/assets/img/favicon.png">
</head>

<body>
    
    <div class="navbar-area">
        <div class="xton-responsive-nav">
            <div class="container">
                <div class="xton-responsive-menu">
                    <div class="logo">
                        <a href="/Home/Index">
                            <img src="~/frontEnd/assets/img/logo.png" class="main-logo" alt="logo">
                            <img src="~/frontEnd/assets/img/white-logo.png" class="white-logo" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="xton-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="/Home/Index">
                        <img src="~/frontEnd/assets/img/logo.png" class="main-logo" alt="logo">
                        <img src="~/frontEnd/assets/img/white-logo.png" class="white-logo" alt="logo">
                    </a>

                    <div class="collapse navbar-collapse mean-menu" style="display: block;">
                        <ul class="navbar-nav">
                            
                            <li class="nav-item">
                                <a href="/Home/Index" class="nav-link active">首頁</a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">Blog <i class="bx bx-chevron-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a href="blog-1.html" class="nav-link">Grid (2 in Row)</a></li>
                                    <li class="nav-item"><a href="blog-2.html" class="nav-link">Grid (3 in Row)</a></li>
                                    <li class="nav-item"><a href="blog-3.html" class="nav-link">Grid (4 in Row)</a></li>
                                    <li class="nav-item"><a href="blog-4.html" class="nav-link">Grid (Full Width)</a></li>
                                    <li class="nav-item"><a href="blog-5.html" class="nav-link">Right Sidebar</a></li>
                                    <li class="nav-item"><a href="blog-6.html" class="nav-link">Masonry (3 in Row)</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="about.html" class="nav-link">關於我們</a>
                            </li>



                        </ul>

                        <div class="others-option">
                            <div class="option-item">
                                <div class="search-btn-box">
                                    <a href="/Member/Index"><i class="bx bxs-user" style="font-size: 24px;"></i></a>
                                </div>
                            </div>

                            <div class="option-item">
                                <div class="search-btn-box">
                                    <i class="search-btn bx bx-search-alt" style="font-size: 24px;"></i>
                                </div>
                            </div>

                            <div class="option-item">
                                <div class="cart-btn">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#shoppingCartModal"><i class="bx bx-shopping-bag" style="font-size: 24px;"></i><span>3</span></a>
                                </div>
                            </div>

                        </div>

                    </div>
                </nav>
            </div>
        </div>
    </div>



    @RenderBody()


    <!-- Start QuickView Modal Area -->
    <div class="modal fade productsQuickView" id="productsQuickView" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class='bx bx-x'></i></span>
                </button>

                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="products-image">
                            <img src="assets/img/quick-view-img.jpg" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="products-content">
                            <h3><a href="#">Long Sleeve Leopard T-Shirt</a></h3>

                            <div class="price">
                                <span class="old-price">$210.00</span>
                                <span class="new-price">$200.00</span>
                            </div>

                            <div class="products-review">
                                <div class="rating">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </div>
                                <a href="#" class="rating-count">3 reviews</a>
                            </div>

                            <ul class="products-info">
                                <li><span>Vendor:</span> <a href="#">Lereve</a></li>
                                <li><span>Availability:</span> <a href="#">In stock (7 items)</a></li>
                                <li><span>Products Type:</span> <a href="#">T-Shirt</a></li>
                            </ul>

                            <div class="products-color-switch">
                                <h4>Color:</h4>

                                <ul>
                                    <li><a href="#" data-bs-toggle="tooltip" data-placement="top" title="Black" class="color-black"></a></li>
                                    <li><a href="#" data-bs-toggle="tooltip" data-placement="top" title="White" class="color-white"></a></li>
                                    <li><a href="#" data-bs-toggle="tooltip" data-placement="top" title="Green" class="color-green"></a></li>
                                    <li><a href="#" data-bs-toggle="tooltip" data-placement="top" title="Yellow Green" class="color-yellowgreen"></a></li>
                                    <li><a href="#" data-bs-toggle="tooltip" data-placement="top" title="Teal" class="color-teal"></a></li>
                                </ul>
                            </div>

                            <div class="products-size-wrapper">
                                <h4>Size:</h4>

                                <ul>
                                    <li><a href="#">XS</a></li>
                                    <li class="active"><a href="#">S</a></li>
                                    <li><a href="#">M</a></li>
                                    <li><a href="#">XL</a></li>
                                    <li><a href="#">XXL</a></li>
                                </ul>
                            </div>

                            <div class="products-add-to-cart">
                                <div class="input-counter">
                                    <span class="minus-btn"><i class='bx bx-minus'></i></span>
                                    <input type="text" value="1">
                                    <span class="plus-btn"><i class='bx bx-plus'></i></span>
                                </div>

                                <button type="submit" class="default-btn">Add to Cart</button>
                            </div>

                            <a href="#" class="view-full-info">View Full Info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End QuickView Modal Area -->


    <!-- Start Shopping Cart Modal -->
    <div class="modal right fade shoppingCartModal" id="shoppingCartModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class='bx bx-x'></i></span>
                </button>

                <div class="modal-body">
                    <h3>My Cart (3)</h3>

                    <div class="products-cart-content">
                        <div class="products-cart">
                            <div class="products-image">
                                <a href="#"><img src="~/frontEnd/assets/img/products/img1.jpg" alt="image"></a>
                            </div>

                            <div class="products-content">
                                <h3><a href="#">Long Sleeve Leopard T-Shirt</a></h3>
                                <span>Blue / XS</span>
                                <div class="products-price">
                                    <span>1</span>
                                    <span>x</span>
                                    <span class="price">$250.00</span>
                                </div>
                                <a href="#" class="remove-btn"><i class='bx bx-trash'></i></a>
                            </div>
                        </div>

                        <div class="products-cart">
                            <div class="products-image">
                                <a href="#"><img src="~/frontEnd/assets/img/products/img2.jpg" alt="image"></a>
                            </div>

                            <div class="products-content">
                                <h3><a href="#">Causal V-Neck Soft Raglan</a></h3>
                                <span>Blue / XS</span>
                                <div class="products-price">
                                    <span>1</span>
                                    <span>x</span>
                                    <span class="price">$200.00</span>
                                </div>
                                <a href="#" class="remove-btn"><i class='bx bx-trash'></i></a>
                            </div>
                        </div>

                        <div class="products-cart">
                            <div class="products-image">
                                <a href="#"><img src="~/frontEnd/assets/img/products/img3.jpg" alt="image"></a>
                            </div>

                            <div class="products-content">
                                <h3><a href="#">Hanes Men's Pullover</a></h3>
                                <span>Blue / XS</span>
                                <div class="products-price">
                                    <span>1</span>
                                    <span>x</span>
                                    <span class="price">$200.00</span>
                                </div>
                                <a href="#" class="remove-btn"><i class='bx bx-trash'></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="products-cart-subtotal">
                        <span>Subtotal</span>

                        <span class="subtotal">$650.00</span>
                    </div>

                    <div class="products-cart-btn">
                        <a href="#" class="default-btn">Proceed to Checkout</a>
                        <a href="#" class="optional-btn">View Shopping Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Shopping Cart Modal -->


    <!-- Start Footer Area -->
    @await Html.PartialAsync("_Footer")
    <!-- End Footer Area -->

    <div class="go-top"><i class='bx bx-up-arrow-alt'></i></div>

    <!-- Links of JS files -->
    <script src="~/frontEnd/assets/js/jquery.min.js"></script>
    <script src="~/frontEnd/assets/js/popper.min.js"></script>
    <script src="~/frontEnd/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/frontEnd/assets/js/owl.carousel.min.js"></script>
    <script src="~/frontEnd/assets/js/magnific-popup.min.js"></script>
    <script src="~/frontEnd/assets/js/parallax.min.js"></script>
    <script src="~/frontEnd/assets/js/rangeSlider.min.js"></script>
    <script src="~/frontEnd/assets/js/nice-select.min.js"></script>
    <script src="~/frontEnd/assets/js/meanmenu.min.js"></script>
    <script src="~/frontEnd/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/frontEnd/assets/js/slick.min.js"></script>
    <script src="~/frontEnd/assets/js/sticky-sidebar.min.js"></script>
    <script src="~/frontEnd/assets/js/wow.min.js"></script>
    <script src="~/frontEnd/assets/js/form-validator.min.js"></script>
    <script src="~/frontEnd/assets/js/contact-form-script.js"></script>
    <script src="~/frontEnd/assets/js/ajaxchimp.min.js"></script>
    <script src="~/frontEnd/assets/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
