<div class="container-fluid">
    <div class="page-title-area">
        <div class="container">
            <div class="page-title-content">
                <h2>會員中心</h2>
                <ul>
                    <li><a href="index.html">首頁</a></li>
                    <li>商品資訊</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="row justify-content-center pt-100 pb-100">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-categories-box">
                <img src="~/frontend/assets/img/member/img1.jpg" alt="image">

                <div class="content">
                    <span>Manage Your Profile</span>
                    <h3>會員資料</h3>
                    <a href="/Member/EditProfile" class="default-btn">立即管理</a>
                </div>
                <a href="/Member/EditProfile" class="link-btn"></a>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-categories-box">
                <img src="~/frontend/assets/img/member/img2.jpg" alt="image">

                <div class="content">
                    <span>Manage Orders</span>
                    <h3>訂單管理</h3>
                    <a href="products-right-sidebar.html" class="default-btn">立即管理</a>
                </div>
                <a href="products-right-sidebar.html" class="link-btn"></a>
            </div>
        </div>
    </div>


</div>