    <style>
        #go {
            width: 100px;
            height: 100px;
            border-radius: 50%;            
        }
    </style>

<div class="container" style="padding-top: 110px">
        <div class="row justify-content-center mt-5">
        
            <div class="col-8 col-md-6">
            <form method="post" action="/Member/Login">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="Account" name="Account" placeholder="name@example.com">
                    <label for="floatingInput">信箱</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="Password" name="Password" placeholder="Password">
                    <label for="floatingPassword">密碼</label>
                </div>
                <div id="goDiv" class="d-flex justify-content-center mt-4">
                    <button type="submit" class="btn btn-warning text-center fw-bold" id="go" >GO !</button>
                </div>
            </form>
            </div>
        </div>
    </div>

<script>


    




</script>