@model IEnumerable<ShopMaster.Areas.FrontEnd.ViewModelsF.MemberOrderViewModel>

<style>

    #back {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center
    }


    .btn {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center
    }


</style>

<div class="container" style="padding-top: 140px">
    <h4 class="text-start fw-bold text-secondary  ms-5 my-4">@Model.FirstOrDefault()?.Name 的歷史訂單</h4>

        
        <div class="my-3 " style="max-width: auto;" >
           
                <div class="row g-0 justify-content-center ">           

                <div class="col-md-10 col-12">
                    <div class="" style="padding-bottom: 0px;">
                            <table class="table  table-sm">
                                <thead>
                                    <tr class="my-2">
                                        <th>訂單編號</th>                     
                                                        
                                        <th>總金額</th>
                                        <th>訂購日期</th>
                                        <th class="text-end">訂單明細</th>
                                    </tr>
                                </thead>
                                <tbody>

                            @foreach (var i in Model)
                            {
                                var firstDetail = i.OrderDetail.FirstOrDefault();
                                    <tr class="">
                                    <td class="align-middle">@firstDetail?.OrderId</td>
                                    <td class="align-middle">@i.TotalAmount</td>
                                    <td class="align-middle">@firstDetail?.CreatedAt?.ToString("yyyy-MM-dd")</td>

                                    <td class="d-flex align-items-end justify-content-end me-2">

                                        <a href="@Url.Action("Details", "Order", new { area = "FrontEnd",id =i.Id, extraId = @firstDetail?.OrderId })" class="btn btn-light text-secondary fw-bold my-1">GO</a>
                                        </td>
                                    </tr>
                                }
                       
                            
                                </tbody>
                            </table>
                        
                        </div>
                    </div>
                    
                </div>

           

    </div>



    <div class="row">

        <div class="d-grid gap-2 justify-content-center mt-4 ">
            <a href="@Url.Action("Index", "Home", new{area = "FrontEnd" })" class="btn btn-secondary fw-bold ms-3" id="back" style="color:white">回首頁</a>
        </div>

    </div>



</div>

@* <div class="col-md-4 col-3" style="padding: 10px;">
                    <img src=@d.Product.MainImage class="img-fluid rounded-start d-block" alt="Responsive image" style="height:100px; width:120px">
                </div> *@