@{
	Layout = null;
}




<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/BackEnd">
        <div class="sidebar-brand-icon">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">後台管理</div>
    </a>

    <hr class="sidebar-divider">

    @if (ViewBag.MenuList != null)
    {
        int collapseIndex = 1;
        <!-- 確保每個選單有獨立的 collapse ID -->
        @foreach (var group in ViewBag.MenuList)
        {
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse-@collapseIndex"
                   aria-expanded="false" aria-controls="collapse-@collapseIndex">
                    <i class="fas fa-fw fa-folder"></i> <!-- 可換成 group 專屬 icon -->
                    <span>@group.Name</span>
                </a>
                <div id="collapse-@collapseIndex" class="collapse" aria-labelledby="heading-@collapseIndex" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        @foreach (var menu in group.MenuSubs)
                        {
                            <a class="collapse-item" href="@menu.Route">
                                <i class="fa @menu.Icon"></i> @menu.Name
                            </a>
                        }
                    </div>
                </div>
            </li>
            <hr class="sidebar-divider">
            collapseIndex++;
        }
    }
</ul>
