@{
	Layout = null;
}
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; 你的公司名稱 @DateTime.Now.Year</span>
        </div>
    </div>
</footer>
