@{
	Layout = null;
}

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Admin">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">後台管理</div>
    </a>

    <hr class="sidebar-divider my-0">

    <!-- 首頁 -->
    <li class="nav-item">
        <a class="nav-link" href="/Admin">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>儀表板</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <!-- 功能管理 -->
    <div class="sidebar-heading">管理功能</div>

    <li class="nav-item">
        <a class="nav-link" href="/Admin/Users">
            <i class="fas fa-fw fa-users"></i>
            <span>管理員帳號</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/Admin/Products">
            <i class="fas fa-fw fa-box"></i>
            <span>商品管理</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/Admin/Orders">
            <i class="fas fa-fw fa-shopping-cart"></i>
            <span>訂單管理</span>
        </a>
    </li>

    <hr class="sidebar-divider d-none d-md-block">

    <!-- 側邊欄收合按鈕 -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
