@model ShopMaster.Areas.FrontEnd.ViewModelsF.MemberOrderViewModel


<style>

    #back {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center
    }


</style>

<div class="container" style="padding-top: 160px">

    <div class="row justify-content-center">
        <div class="col-md-8 mb-4">
            <div class="card">
                <div class="card-header text-secondary fw-bold " style="background-color:transparent">
                    <i class="fas fa-user"></i> @Model.Name 的訂單
                </div>
                <div class="card-body">                  
                    @foreach(var i in Model.OrderDetail)
                    {

                        <p>商品: </p>
                        <p>數量:@i.Quantity</p>
                        <p>金額:@i.OriginalPrice </p>
                        <p>總金額:@i.FinalPrice </p>
                        <p>折扣後金額:@i.SubTotal </p>
                        <p>合計:@i.SubTotal </p>

                    }


                    </div>
                </div>
            </div>
           
        </div>
    <div class="row justify-content-center">
    <a href="@Url.Action("Index", "Home", new{area = "FrontEnd" })" class="btn btn-secondary fw-bold ms-3" id="back" style="color:white">回首頁</a>
    </div>
    </div>
