@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<style>

    #back {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center
    }






</style>

    <div class="container" style="padding-top: 160px">
        
        <div class="row justify-content-center">
            <div class="col-md-8 mb-4">
                <div class="card">
                    <div class="card-header text-secondary fw-bold " style="background-color:transparent">
                        <i class="fas fa-user"></i> 您的訂單
                    </div>
                    <div class="card-body">
                        <p>商品:筆電 </p>
                        <p>數量:2</p>
                        <p>金額:500 </p>
                        <p>總金額:1000 </p>
                       
                    </div>
                </div>
            </div>
           
        </div>
    <div class="row justify-content-center">
    <a href="@Url.Action("Index", "Home", new{area = "FrontEnd" })" class="btn btn-secondary fw-bold ms-3" id="back" style="color:white">回首頁</a>
    </div>
    </div>
