@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<style>

    #back {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center
    }

    #orderHistory {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center
    }



</style>

    <div class="container" style="padding-top: 120px">
        <h4 class="text-start fw-bold text-secondary  mt-4">歷史訂單</h4>

        <div class="card my-3 " style="max-width: auto;  ">

            <div class="row g-0 justify-content-center ">
                <div class="col-md-4 col-3" style="padding: 10px;">
                    <img src="/upload/product/2/main.jpg" class="img-fluid rounded-start d-block" alt="Responsive image" style="height:100px; width:120px">
                </div>
                <div class="col-md-8 col-9">
                    <div class="card-body d-flex justify-content-around  " style="padding-bottom: 0px;">
                        <p class="card-title col-4">電競筆電 Lenovo Gaming 電競筆電 黑電競筆電 黑</p>
                        <p class="col-4 text-center">1</p>                      
                        <p class="card-text col-4 text-end mt-2">NT999</p>
                    </div>
                </div>
           
            </div>



            <div class="row ">

                <div class="col d-flex justify-content-end mb-4 me-4" >
                    <a href="@Url.Action("Details", "Order", new { area = "FrontEnd" })" class="btn btn-warning text-white border  rounded-xl fw-bold" id="orderHistory" style="text-align: end">訂單明細</a>
                </div>

            </div>

        </div>

        

        <div class="row">

            <div class="d-grid gap-2 justify-content-center mt-4 ">
                <a href="@Url.Action("Index", "Home", new{area = "FrontEnd" })" class="btn btn-secondary fw-bold ms-3" id="back" style="color:white">回首頁</a>
            </div>

        </div>



    </div>
