@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


    <style>


        #checkOrder, #back {
            width: 90px;
            height: 40px;           
            display: flex;
            justify-content: center;
            align-items: center
        }
    </style>
    <div class="container" style="padding-top: 120px">
        <h4 class="text-center fw-bold text-warning fs-1 mt-5">謝謝您的訂單 !</h4>


        <div class="row">
        
            <div class="d-flex mt-5 justify-content-center" style="border: none;">

                <button type="submit" class="btn btn-warning fw-bold" id="checkOrder" style="color:white" onclick="window.location.href='@Url.Action("Details", "Order", new { area = "FrontEnd" })' ">查看訂單</button>
                <a href="@Url.Action("Index", "Home", new{area = "FrontEnd" })" class="btn btn-secondary fw-bold ms-3" id="back" style="color:white">回首頁</a>

            </div>
        
        
        
        </div>
    </div>

